@model CommonLayer.Models.LoginModel

@{
    ViewBag.Title = "Login";
}
<style>
    #Email {
        height: 23px !important;
        width: 250px !important;
    }
</style>

<Head>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</Head>
<script type="text/javascript">
    var GetToken = function (data) {
        alert(data.Token);
        sessionStorage.setItem("JwtToken",data.Token )
    };
</script>




@using (Ajax.BeginForm("Login", "Users", null, new AjaxOptions { HttpMethod = "post", OnSuccess = "GetToken", OnFailure = "HandleError" }))
{
    
    @Html.AntiForgeryToken()

    <div class="Conatiner-main">
        <div class="Header-class">
            <h1 style="margin-left:35%;">
                My Account
            </h1>
        </div>
        <div class="Large-Container">
            <div class="Conatiner">
                <div class="Conatiner-login">
                    <h2>Existing Customer</h2>
                    <h3>If you already have an account, please sign in for faster checkout.</h3>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group" style="display: flex; flex-direction: column;">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" style="display: flex; flex-direction: column;">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="ForgotPassword">
                        <a href="https://localhost:44368/Pages/User/Forgetpassword">Forgot Password ?</a>
                    </div>
                    <div class="Button1">
                        <input id="Btn_First" type="submit" value="Log-In"  />
                    </div>


                </div>
            </div>
        </div>
    </div>
}


