<!DOCTYPE html>
<html>
<head>
    <title>BookStore application</title>



    <link rel="stylesheet" type="text/css" href="~/Content/Login.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Header.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Books.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/OrderPage.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Cart.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Register.css" />
    @model CommonLayer.Models.BookModel 
    <style>
        .dropbtn {
            background-color: #A03037;
            color: white;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <div class="Bookstore-book">
                    <div class="Bookstore-Icon">
                        <a href="https://localhost:44301/Books/AllBooks" class="Bookstore-Icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-book-fill" viewBox="0 0 16 16" color=" white" !>
                                <path d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                            </svg>
                        </a>
                    </div>
                    <div class="Bookstore-title">
                        BookStore
                    </div>
                </div>
                <div class="Bookstore-searchbar">
                    @using (Html.BeginForm("Search", "Books", FormMethod.Get))
                    {
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BookName , new { htmlAttributes = new { @class = "form-control" } })
                            
                        </div>
                    }

                   
                </div>
                <div class="Bookstore-Cart">
                    cart
                    <a href="https://localhost:44301/Cart/CartBooks" class="Bookstore-Cart">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                    </a>

                </div>
                <div class="Bookstore-Cart">
                    Wishlist
                    <a href="https://localhost:44301/Wishlist/WishlistBooks" class="Bookstore-Cart">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bucket" viewBox="0 0 16 16">
                            <path d="M2.522 5H2a.5.5 0 0 0-.494.574l1.372 9.149A1.5 1.5 0 0 0 4.36 16h7.278a1.5 1.5 0 0 0 1.483-1.277l1.373-9.149A.5.5 0 0 0 14 5h-.522A5.5 5.5 0 0 0 2.522 5zm1.005 0a4.5 4.5 0 0 1 8.945 0H3.527zm9.892 1-1.286 8.574a.5.5 0 0 1-.494.426H4.36a.5.5 0 0 1-.494-.426L2.58 6h10.838z" />
                        </svg>
                    </a>

                </div>
                
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">
                        Profile
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                        </svg>
                    </button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#">Hello User !!</a>
                        <a href="https://localhost:44301/Users/Register"><button style=" width:100%;height:25px; color:white; background-color:#6468bb;">Register</button></a>
                       <a href="https://localhost:44301/Users/Login"> <button  style=" width:100%; height:25px; color:white; background-color:#6468bb;">Log-in/out</button></a>
                    </div>
                </div>
                </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div class="text">
            Copyright &copy;@DateTime.Now.Year, BookStore Private Limited.All Rights Reserved
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
   @Scripts.Render("~/Scripts/JavaScript/Books.js")
    @RenderSection("scripts", required: false)
    <script>
        /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

    </script>

   

</body>
</html>
