@model IEnumerable<CommonLayer.Models.GetCart>

@{
    ViewBag.Title = "CartBooks";
}




@Html.AntiForgeryToken()

<div class="Whole-Cart">
    <div class="Cart-Container">
        <div class="First-box">
            <div class="cart-Title">My Cart</div>
            @foreach (var items in Model)
            {

                <div class="one-Cart">
                    <div class="First-part-new">
                        <img src=@items.Image
                             class="card-img-top"
                             alt="..." style="width:100px ; height:130px ; padding: 10px 20px 10px 0px;" />
                    </div>
                    <div class="Second-part-new">
                        <div>@items.BookName</div>

                        <div class="price">@items.Price</div>

                        <div class="Quantity">  <input type="number" id="quantity" name="quantity" min="1" max="99" /></div>
                    </div>
                </div>


            }
            <div class="CartTrash">
                
                <div id="btn_CartTrash" onclick="CartDeletebtn()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                </div>

            </div>
            <div class="Place-button">
                <input id="btn_opendetails" type="button" value="Place Order" onclick="PlaceOrderbtn()" />
            </div>
        </div>
    </div>
    <div class="openDetails" id="openDetails">
        <div class="left"><strong>Customer Details</strong></div>
        <div id="takeinput1" class="takeinput" style="display: none;">
            <div class="giveinput">
                <div class="InputFields1">
                    <input id="TB_Name" type="text" placeholder="Name" />
                    <input id="TB_Phone" type="text" placeholder="Phone Number" />
                </div>
                <div class="InputFields2">
                    <input id="TB_Pin" type="text" placeholder="Pin Code" />
                    <input id="TB_Locality" type="text" placeholder="Locality" />
                </div>
                <div class="InputFields3">
                    <asp:TextBox ID="TB_Address" runat="server" placeholder="Address"></asp:TextBox>
                    <input id="TB_Address" type="text" placeholder="Address" />
                </div>
                <div class="InputFields4">
                    <input id="TB_City" type="text" placeholder="City/Locality" />
                    <input id="TB_Landmark" type="text" placeholder="Landmark" />
                </div>
                <div class="Type">
                    Type :
                </div>
                <div class="cart-Buttons">
                    <div class="Home">
                        <input id="RB_Home" type="radio" />


                        Home
                    </div>
                    <div class="Work">
                        <input id="RB_Work" type="radio" />
                        Work
                    </div>
                    <div class="Other">
                        <input id="RB_Other" type="radio" />
                        Other
                    </div>
                </div>
            </div>
            <div class="Place-button">

                <input id="btn_Continue" type="button" value="Continue" onclick="Continuebtn()" />
            </div>
        </div>
    </div>
    <div class="Container2" runat="server" id="Container2">
        <div class="First-box">
            <div class="Title">Order Summery</div>
            <div id="OrderBooks" style="display: none;">
                @foreach (var items in Model)
                {

                    <div class="one-Cart">
                        <div class="First-part-new">
                            <img src=@items.Image 
                                 class="card-img-top"
                                 alt="..." style="width:100px ; height:130px ; padding: 10px 20px 10px 0px;" />
                        </div>
                        <div class="Second-part-new">
                            <div>@items.BookName</div>
                           
                            <div class="price">@items.Price</div>


                        </div>
                    </div>


                }
                <div class="Place-button">
                    <input id="btn_opendetails" type="submit" value="Place Order" onclick="Checkoutbtn()" />

                </div>
                </div>
            </div>
        </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



